<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>AndroidMic</string>
    <key>CFBundleDisplayName</key>
    <string>AndroidMic</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.teamclouday.AndroidMic</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>android-mic</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>

    <key>NSLocalNetworkUsageDescription</key>
    <string>AndroidMic needs access to your local network to connect to your Android device.</string>
</dict>
</plist>