<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AndroidMic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AndroidMic.Properties.Settings>
      <setting name="MainWindow_AudioDisplayEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainWindow_AudioDeviceIdx" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MainWindow_AudioVolume" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MainWindow_ConnectViaBluetooth" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdvancedWindow_PitchShifterVal" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AdvancedWindow_PitchShifterEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdvancedWindow_WhiteNoiseVal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AdvancedWindow_WhiteNoiseEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdvancedWindow_RepeatTrackStrength" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AdvancedWindow_RepeatTrackLoop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AdvancedWindow_RepeatTrackEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdvancedWindow_SpeexDenoise" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdvancedWindow_SpeexAGC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdvancedWindow_SpeexVAD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdvancedWindow_SpeexEcho" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectNetworkWindow_Idx" serializeAs="String">
        <value>0</value>
      </setting>
    </AndroidMic.Properties.Settings>
  </userSettings>
</configuration>