[Desktop Entry]
Name=AndroidMic
Comment=Use your Android phone as a mic for your PC
Comment[fr]=Utilisez votre téléphone Android comme micro pour votre PC

# translators: do not translate this part
Type=Application
Categories=Utility;
Exec=android-mic
Icon=io.github.teamclouday.AndroidMic
StartupWMClass=io.github.teamclouday.AndroidMic
Terminal=false
